name: Build AAB

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Bubblewrap
        run: npm install -g @bubblewrap/cli

      - name: Build AAB
        run: bubblewrap build --skipPwaValidation --skipPackageIdValidation --acceptAllLicenses --quiet
        env:
          ANDROID_KEYSTORE_PASSWORD: budeta
          ANDROID_KEY_PASSWORD: budeta
